.decorate {
    border: 1px solid rgb(0, 0, 0);

    display: flex;
    justify-content: center;
}

.cart-img {
    height: 500px;
}

img {
    height: 500px !important;
}

.cart-title {
    width: 25%;
    height: 80px;
    background: rgb(0, 0, 0, .5);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}